/** Estilos Generales **/
html{
  font-family: 'Josefin Sans', sans-serif;
}
body{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
a:visited{
  color: inherit;
}
li{
  list-style: none;
}
p{
  font-size: 1.1rem;
}
h1{
  font-size: 2.4rem;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 1.8rem;
}
h4{
  font-size: 1.6rem;
}
h5{
  font-size: 1.4rem;
}
h6{
  font-size: 80px;
}

