/* Header Restaurante */

header.main-header{
  position: relative;    
  top: 0;
  width: 100%;
  z-index:9999;
}
.header-wrap{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: transparent;
  z-index: 9999;
}
.wrap-logo-header{
  display: flex;
  align-items: center;
  flex-basis: 15%;
}
.logo-header{
  text-align: left;
  font-weight: bold;
  font-size: 3rem;
  color: #fff;
  padding: auto;
}

/* menu header */

.nav-header{
  display: flex;
  align-items: center;
  width: 100%;
}
.nav-wrap-header{
  display: flex;
  flex-basis: 50%;
}

ul.main-menu{
  display: flex;
  width: 100%;
  z-index: 999;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}


ul.main-menu #nav-main-contact2{ 
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  background-color: var(--main-c);
  color: #fff;
  border-radius: 32px;
}

ul.main-menu #nav-main-contact{ 
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  background-color: var(--main-c);
  color: #fff;
  border-radius: 8px;
}
li.menu-item{
  margin: .75rem;
  display: flex;
}

li.menu-item a{
  padding: .5rem 1rem;
  color: #fff;
}
li.menu-item a:hover{
  color: var(--main-c);
}

i.toggle-menu img{
  width: 27px;
  z-index: 99;
}

i.toggle-menu{
  display: none;
  background-color: #fff;
  border: none;
  z-index: 9999;
}

input#check{
  display: none;
}

/* Header Responsive (Media Queries) */
@media (min-width:880px){
  .header-wrap{
    padding: .5rem 5rem;
  }
}

@media (min-width:768px){
  a.logo-header{
    color: #fff;
  }
}

@media (max-width:768px){
  header.main-header{
    margin-bottom: 4rem;
  }
  .header-wrap{
    position: fixed;
    width: 100%;
    background-color: #fff;
    padding: 0;
    top: 0;
    z-index: 9999;
    height: 60px;
  }
  .wrap-logo-header{
    position: fixed;
    z-index:999;
    top: 3%;
    left: 3%;
  }
  .logo-header, li.menu-item a{
    color: #222;
  }

  i.toggle-menu{
    display: flex;
  }
  ul.main-menu,#nav-main-contact{
    display: none;
    left: 0;
    margin: 0;
    padding: 0;
  }
  ul.main-menu{
    position: fixed;
    background-color: #fff;
  }
  label.checkbtn{
    position: fixed;
    right: 3%;
    top: 3%;
    z-index: 9999;
    cursor: pointer;
  }
  #check:checked ~ ul{
    display: flex;
    z-index: 9;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    top: 0;
    font-size: 2rem;
  }
}

