.wrap-header-hero{
  background: linear-gradient(to bottom, rgb(0 0 0 / .75), rgb(0 0 0 / .5)), url(img/hero-front-page-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.wrap-header-hero2{
     position: fixed;   /* Fijo en la pantalla */
  top: 0;            /* En la parte superior */
  left: 0;
  width: 100%;       /* Ancho completo */
    position: absolute;
  background: linear-gradient(to bottom, rgb(0 0 0 / .75), rgb(0 0 0 / .5)), url(img/hero-front-page-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-home-page{
  height: 90vh;
  display: flex;
    flex-direction: column; 
  align-items: center;
  justify-content: center;
}
.wrap-hero-home-page{
  position: absolute;
  color: #ffffff;
  text-align: center;
  width: auto;
}

.wrap-hero-home-page p{
  margin-bottom: 2rem;
}

@media (max-width:768px){
  .wrap-hero-home-page{
    width: 100%;
    padding: 1rem;
  }
}

